*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.flex{
    display: flex;
}

.center{ 
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

button:hover{
    color: rgb(64, 182, 255);
    background-color: rgba(0, 0, 0, 0.486);
}

.button-white{
    background-color: white;
    color: black;
}

#button-black{
    color: white;
    background-color: rgb(35,39,42);
}

.button-purple{
    color: white;
    background-color: rgb(114,137,218);
}

.fa-arrow-down-long{
    padding-right: 5px;
}

.border{ 
    border: dotted;
}

main{
    max-height: 90%;
}

/*inizio header top*/

.header-top{
    height: 60px;
    background-color: rgb(37,94,233);
}

.headertop-contain{ 
    height: 50%;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav > a{
    color: white;
    padding: 0 15px;
    text-decoration: none;
}
/*fine header top*/
/*inizio header jumbo*/
.jumbo{
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    color: white;
    height: 50%;
    width: 40%;
    text-align: center;
    flex-wrap: wrap;
}

#titolojumbo{
    font-size: 45px;
    margin-bottom: 45px;
}

.description{
    font-size: 19px;
    margin-bottom: 10px;
}

.title>button{
    margin: 20px 15px 0px 15px;
}

/*fine header jumbo*/
/*inizio main*/

.sezione{ 
    height: 600px;
}

.img{
    width: 35%;
}

.testo{
    padding-right: 250px;
    height: 60%;
    width: 35%;
}

.titolo-main{
    font-size: 50px;
    font-weight: bold;
}

.testo-immagine{
    height: 90%;
    width: 75%;
    text-align: center;
}


#section-last{
    height: 800px;
    margin-bottom: 100px;
}

#last-title{
    margin-bottom: 15px;
}

#ready{
    font-size: 20px;
    font-weight: bold;
    background-image: url(../img/stars.svg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 0;
    margin-bottom: 45px;
}

/*fine main*/
/* inizio footer*/
.footer{
    height: 500px;
    background-color: rgb(35,39,42);
}

.column{
    width: calc(75% / 6);
    height: 90%;
    margin: 50px 0;
    flex-wrap: wrap;
    flex-direction: column;
}

#column-big{
    width: calc(75% / 6 * 2);
    color: white;
    margin: 50px 0;
}

.bandieraimg{
    height: 20px;
    margin-right: 10px;
}

.lingua::after{
    content: "\2B9F";
}

.select-language{
    align-items: center;
    padding: 10px;
}

.title-column-big{
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(113,136,214);
}

.fa-brands{
    font-size: 25px;
    margin: 20px 5px;
}

.column > a{
    margin: 15px 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#title-column{
   color: rgb(113,136,214);
}
/* fine footer*/
/* inizio footer bottom*/

.footer-bottom{
    height: 80px;
    background-color: rgb(35,39,42);
}

.footerbottom-container{ 
    height: 50%;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: solid 1px rgb(113,136,214);
}
/*fine footer bottom*/